.container {
  margin: auto;
  max-width: 1000px;
}

.header {
  min-height: 108px;
  min-width: 380px;
  padding-top: 16px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px rgba(54, 54, 54, 0.7) solid;
  display: flex;
  justify-content: space-between;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 24px;
}

@media (max-width:767px) {
  .header {
    padding-top: 27px;
    flex-direction: column;
  }
  .mainTitle{
    text-align: center;
  }
  .mainBottom{
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  .mainCheck{
    flex-direction: row;
    align-items: center;
    margin: 0;
  }
  .headerLinks{
    display: block;
  }
}

.headerTitle {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  margin: 0px;
  color: #fff;
  text-decoration: none;
}


.headerLink {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  text-decoration-line: underline;
  color: #fff;
  padding-right: 5px;
}

.headerSubtitle {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 32px;
  color: #fff;
  text-decoration: none;
}

.headerLinks {
  min-width: 160px;
  justify-content: space-between;
  display: flex;
}

.footer {
  margin-left: 16px;
  margin-bottom: 16px;
}

.footerText {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  color: #000000;
}

.mainTitle {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  margin: 0px;
  color: #000;
  text-decoration: none;
  padding-bottom: 8px;
  border-bottom: 1px solid #D7D7D7;
}

.main {}
.mainBottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainCheck{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainText {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.btns{

}
.mainBtn{
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: unset;
  border: none;
  padding: 0;
  text-decoration: underline;
}
.mainBtnClicked{
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: unset;
  border: none;
  padding: 0;
}
.mainBtnClicked:hover{
  cursor: pointer;
}
.mainBtn:hover{
  cursor: pointer;
}
.cards{
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-row-gap: 20px;
  grid-column-gap: 17px;
}
@media (max-width:1023px) {
  .cards {
      grid-template-columns: repeat(2,1fr);
      justify-items: center;
  }
}
@media (max-width:767px){
 .cards {
      grid-template-columns: 1fr;
 } 
}
.photoGrid{
  margin: 0px;
  padding: 0px;
  margin-bottom: 131px;
}
@media (max-width:1023px) {
  .photoGrid {
      max-width: 700px;
      margin: auto;
      margin-bottom: 48px;
  }   
}

.card{

}
.cardDescription{
  margin-left: 11px;
  max-width: 170px;
}
.cardText{
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  color: #000000;
  margin: 0;
  white-space: nowrap;
}
.cardColumns{
  display: flex;
  max-height: 95px;
}
.cardButton{
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 20px;
display: flex;
letter-spacing: 1px;
text-transform: uppercase;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 110px;
height: 24px;
background: #186DD6;
border-radius: 24px;
margin-top: 19px;
color:#fff;
}
.cardButton:hover{
  cursor: pointer;
}
.cardImg{
  width: 93px;
  height: 95px;
  border-radius: 16px;
}